<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Easy Parking</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts -->
	<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
	      type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	      rel='stylesheet' type='text/css'>

	<!-- Custom styles -->
	<link href="/static/css/easy-park.css" rel="stylesheet">
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style=" position: relative;background-color: white;">
	<div class="container" style="width: 100%">
		<a class="navbar-brand" style="color:#343a40;" href="/">EasyParking</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
		        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
		        aria-label="Toggle navigation">
			Menu
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" style="color:#343a40;" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color:#343a40;" href="/#about-us">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color:#343a40;" href="/map">Map</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="color:#343a40;" href="/#contacts">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div id="map"></div>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts -->
<script src="/static/js/easy-park.min.js"></script>
<script src="/static/js/map.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqJAGfkxx0pNhnJoU29MMyh8Fd1IPFLXE&callback=initMap"
        async defer></script>
</body>
</html>